<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List of patients</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                <h1>User : <span sec:authentication="name"></span></h1>
                <h3>List des patients</h3>
            </div>
            <div class="card-body">
                <form method="get" th:action="@{patients}">
                    <label>First or last name of patient: </label>
                    <input type="text" name="fullName" th:value="${fullName}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Date of birth</th>
                        <th>Sick?</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient: ${patientPages}">
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.dateOfBirth}"></td>
                        <td th:text="${patient.sick}"></td>
                        <td th:text="${patient.score}"></td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a data-bs-toggle="modal" data-bs-target="#deleteModal" th:href="@{delete(id=${patient.id}, fullName=${fullName}, page=${currentPage})}" class="btn btn-danger delete-link">
                                Delete
                            </a>
                            <a th:href="@{update(id=${patient.id}, fullName=${fullName}, page=${currentPage})}" class="btn btn-success">
                                Update
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page, status: ${totalPages}">
                        <a th:class="${status.index==currentPage?'btn btn-info ms-1': 'btn btn-outline-info ms-1'}"
                           th:text="${status.index}"
                           th:href="@{patients(page=${status.index},fullName=${fullName})}"
                        ></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Are you sure you want to delete this user </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="deleteBtn">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
			$(document).ready(function() {
				$(".delete-link").on("click", function(e) {
					const link = ($(this).attr("href"));
					$("#deleteBtn").attr("href", link);
				})
			})
    </script>
</body>
</html>